/* header */

header {
  border-bottom: 1px solid #ececec;
}

/* logo */

.logo {
  color: black;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: raleway, sans-serif;
}
.logo-studio {
  color: var(--accent-color);
}

.studio {
  color: var(--primary-white-color);
}
/* site nav*/

.site-nav .link {
  display: block;
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-animation);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  margin: 0;
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.link-nav {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-animation);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.link-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.address-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

/* site nav*/
